:root {
    /* Primary Colors */
    --color-primary: #2563EB; /* Ancienne couleur : 0096c8 */
    --color-primary-light: #3B82F6;
    --color-secondary: #1E3A5F; /* Ancienne couleur : 233566*/
    --color-accent: #F59E0B; /* Ancienne couleur : e91e63*/
    --color-danger: #EF4444;

    --color-nav-accent: #F59E0B;
  
    /* Text Colors */
    --color-text-dark: #111827;
    --color-text-light: #ffffff;
    --color-text-muted: #6B7280;
  
    /* Background Colors */
    --color-bg-light: #F8FAFC;
    --color-bg-gray: #E2E8F0;
  
    /* Spacing */
    --spacing-xs: 10px;
    --spacing-sm: 20px;
    --spacing-md: 30px;
    --spacing-lg: 40px;
    --spacing-xl: 60px;
  
    /* Border Radius */
    --radius-sm: 5px;
    --radius-md: 8px;
  
    /* Transitions */
    --transition: all 0.3s ease;

    /*Couleur Projets */
    --status-termine: #22C55E;
    --status-en-cours: #F59E0B;
    --status-en-construction: #3b3385; 
    --status-revision: #23addf;
    --status-revision-txt: #3a75d3;

    /*
    --status-termine: #22C55E;
    --status-en-cours: #F59E0B;
    --status-en-construction: #7091f4; 
    --status-revision: #27c1f8;
    --status-revision-txt: #7070d4;
    */
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--color-bg-light);
    color: var(--color-text-dark);
    line-height: 1.6;
  }
  
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  br.responsive {
    display: inline;
  }
  
  @media screen and (min-width: 1000px) {
    br.responsive {
      display: none;
    }
  }